.content {
  display: flex;
  gap: 5px;
  border-bottom: 1px solid;
  padding: 0.5em 0;

  align-items: center;
  span {
    width: 100%;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }
  svg {
    cursor: pointer;
  }

  input[type="checkbox"] {
    cursor: pointer;
    &:disabled {
      cursor: default;
    }
  }

  .done {
    text-decoration: line-through;
    text-decoration-color: #000;
  }
}
