.actions {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  .input {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 62px;
    gap: 5px;

    input {
      height: 55px;
      background-color: var(--dark-900);
      color: var(--white);
      padding: 1rem;
      border-radius: 0.3rem;
      border: 1px solid var(--gray-100);
    }
    span {
      color: var(--red-900);
    }
  }
  button {
    height: 55px;
    border: 0;
    padding: 0 0.4rem;
    color: var(--white);
    border-radius: 0.3rem;
    transition: opacity 0.2s;
    white-space: nowrap;
  }
}

@media (max-width: 420px) {
  .actions {
    input {
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
}
